@import "https://fonts.googleapis.com/css?family=Lobster";
@import "https://fonts.googleapis.com/css?family=Cabin";
* {
  font-family: 'Cabin', sans-serif; }

h1 {
  font-family: 'Lobster', cursive; }

* {
  box-sizing: border-box; }

.link, header a, header nav ul li a {
  text-decoration: none;
  color: currentColor; }
  .link:hover, header a:hover {
    color: currentColor;
    text-decoration: none; }
  .link:focus, header a:focus {
    color: currentColor;
    text-decoration: none; }

header {
  color: #e06900; }
  header h1 {
    font-size: 5em;
    margin-bottom: .5em; }
  header nav {
    border-top: #3e4055 solid 1px; }
    header nav ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 1.5em; }
      header nav ul li {
        list-style: none;
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: bold; }
        header nav ul li a:hover {
          color: #db0000; }

.fridge .list-group-item {
  padding: .5em;
  margin: 0; }
.fridge button {
  color: white;
  background-color: #76b116;
  border-radius: 0;
  border: none;
  margin-top: 1em;
  font-size: 1.25em; }
.fridge .delete {
  background-color: #db0000;
  margin-top: 0; }
.fridge .edit {
  margin-top: 0; }
.fridge .fridge-item {
  font-size: 1.75em; }
.fridge .search-fridge {
  margin-top: 2vw;
  padding: 15px 0;
  font-size: 1.5em; }
  .fridge .search-fridge:hover {
    color: #3e4055; }

.advanced-search {
  padding: .5rem;
  text-shadow: none;
  border-radius: 5px; }
  .advanced-search .checkboxes {
    background-color: rgba(238, 238, 238, 0.85);
    width: 100%; }
    .advanced-search .checkboxes fieldset {
      color: #3e4055;
      padding: 0 2em 0 2em;
      border: none;
      border-radius: 5px; }
      .advanced-search .checkboxes fieldset ul {
        list-style: none;
        padding-left: 0;
        font-size: .75em; }
      .advanced-search .checkboxes fieldset legend {
        font-size: 1em;
        margin: 0; }
  .advanced-search .checkbox {
    padding: 2px;
    text-shadow: none;
    font-size: .5em; }
  .advanced-search .submit {
    padding-bottom: 1em; }
    .advanced-search .submit .btn {
      color: rgba(238, 238, 238, 0.85);
      background-color: #e06900;
      border-radius: 0;
      border: none;
      margin-top: 1em;
      font-size: 1em;
      margin-top: 0 0 1em 0; }

.home .jumbotron {
  background-image: url(../images/cooking-header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  min-height: 26em; }
  .home .jumbotron h2 {
    margin-top: 2em;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000; }

.forms form .text-input {
  padding: 10px;
  font-size: 1.5em;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.85);
  margin-bottom: .5em;
  color: #3e4055; }
.forms p {
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.5em;
  margin-bottom: 1em; }

.recipe, .fridge, .results, .saved {
  margin-bottom: 3vw; }

.recipe .label {
  background-color: #76b116; }
.recipe .btn {
  color: white;
  background-color: #76b116;
  border-radius: 0;
  border: none;
  margin-top: 1em; }
.recipe .orange {
  background-color: #e06900; }
.recipe .red {
  background-color: #db0000; }
  .recipe .red:hover {
    font-weight: bold;
    color: black; }
.recipe li {
  font-size: 1.2em; }
.recipe h4 {
  font-size: 1.5em;
  text-decoration: underline; }
.recipe .notes {
  font-size: 1.25em;
  margin-top: 1em; }
  .recipe .notes h3 {
    margin-top: 0; }

.modal {
  background-color: white;
  margin-top: 5vw;
  height: 65%; }
  .modal .modal-header {
    width: 100%; }
  .modal .current {
    font-weight: bold;
    font-size: 3rem; }
  .modal .cooking-mode {
    font-size: 2em; }
    .modal .cooking-mode b {
      font-weight: bold;
      text-decoration: underline; }

.saved .btn {
  color: white;
  background-color: #76b116;
  border-radius: 0;
  border: none;
  margin-top: 1em; }
.saved p {
  font-size: 1.25em;
  margin-bottom: 1em; }
.saved .text-input {
  padding: 5px;
  font-size: 1em;
  width: 100%;
  margin-bottom: .5em;
  color: #3e4055; }

/*# sourceMappingURL=main.css.map */
