@import "https://fonts.googleapis.com/css?family=Lobster";
@import "https://fonts.googleapis.com/css?family=Cabin";
* {
  font-family: 'Cabin', sans-serif; }

h1 {
  font-family: 'Lobster', cursive; }

* {
  box-sizing: border-box; }

header {
  color: #e06900; }
  header h1 {
    font-size: 5em;
    margin-bottom: .5em; }
  header a {
    text-decoration: none;
    color: currentColor; }
    header a:hover {
      color: currentColor;
      text-decoration: none; }
  header nav {
    border-top: grey solid 1px; }
    header nav ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 1.5em; }
      header nav ul li {
        list-style: none;
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: bold; }
        header nav ul li a {
          text-decoration: none;
          color: currentColor; }
          header nav ul li a:hover {
            color: #db0000;
            text-decoration: none; }

.fridge .list-group-item {
  padding: .5em;
  margin: 0; }
.fridge button {
  background-color: #76b116;
  border-radius: 0;
  border: none;
  color: white;
  font-size: 1.25em; }
.fridge .delete {
  background-color: #db0000; }
.fridge .fridge-item {
  font-size: 1.75em; }
.fridge .search-fridge {
  margin-top: 2vw; }

.home .jumbotron {
  background-image: url(../images/cooking-header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  min-height: 26em; }
  .home .jumbotron h2 {
    margin-top: 2em;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000; }

.forms form .text-input {
  padding: 10px;
  font-size: 1.5em;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.85);
  margin-bottom: .5em;
  color: #3e4055; }
.forms p {
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.5em;
  margin-bottom: 1em; }

.advanced-search {
  padding: .5rem;
  text-shadow: none;
  border-radius: 5px; }
  .advanced-search .checkboxes {
    background-color: rgba(238, 238, 238, 0.85);
    width: 100%; }
    .advanced-search .checkboxes fieldset {
      color: #3e4055;
      padding: 0 0 0 .5em;
      border: none;
      border-radius: 5px; }
      .advanced-search .checkboxes fieldset ul {
        list-style: none;
        padding-left: 0;
        font-size: .75em; }
      .advanced-search .checkboxes fieldset legend {
        font-size: 1em;
        margin: 0; }
  .advanced-search .checkbox {
    padding: 2px;
    text-shadow: none;
    font-size: .5em; }

.recipe, .fridge, .results, .saved {
  margin-bottom: 3vw; }

.recipe .label {
  background-color: #76b116; }
.recipe .btn {
  background-color: #76b116;
  border-radius: 0;
  border: none;
  color: white; }
.recipe .btn-lg {
  margin-top: 1em; }
.recipe .orange {
  background-color: #e06900; }
  .recipe .orange:hover {
    background-color: #ffdd47; }
.recipe li {
  font-size: 1.2em; }
.recipe h4 {
  font-size: 1.5em;
  text-decoration: underline; }

.modal {
  box-sizing: border-box;
  background-color: white;
  height: 70%;
  margin-top: 5vw; }
  .modal .current {
    font-weight: bold;
    font-size: 2.5em; }
  .modal .cooking-mode {
    font-size: 1.5em; }
    .modal .cooking-mode b {
      font-weight: bold;
      text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
