.advanced-search{
  padding: .5rem;
  text-shadow: none;
  border-radius: 5px;
  .checkboxes{
    background-color: rgba(238, 238, 238, .85);
    width: 100%;
    fieldset{
      color: $darkbluegrey;
      padding: 0 0 0 .5em;
      border: none;
      border-radius: 5px;
      ul{
        list-style: none;
        padding-left: 0;
        font-size: .75em;
      }
      legend{
        font-size:1em;
        margin:0;
      }
    }
  }
  .checkbox{
    padding: 2px;
    text-shadow: none;
    font-size: .5em;
  }
}
