.fridge{
  .list-group-item{
    padding: .5em;
    margin: 0;
  }
  button{
    @include button(white, $green);
    font-size: 1.25em;
  }
  .delete{
    background-color: $red;
    margin-top: 0;
  }
  .edit{
    margin-top: 0;
  }
  .fridge-item{
    font-size: 1.75em;
  }
  .search-fridge{
    margin-top: 2vw;
    padding: 15px 0;
    font-size: 1.5em;
    &:hover{
      color: $darkbluegrey;
    }
  }
}
