*{
  box-sizing: border-box;
}

header{
  color: $orange;
  h1{
    font-size: 5em;
    margin-bottom: .5em;
  }
  a{
    text-decoration: none;
    color: currentColor;
    &:hover{
      color: currentColor;
      text-decoration: none;
    }
  }
  nav{
    border-top: grey solid 1px;
    ul{
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 1.5em;
      li{
        list-style: none;
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: bold;
        a{
          text-decoration: none;
          color: currentColor;
          &:hover{
            color: $red;
            text-decoration: none;
          }
        }
      }
    }
  }
}
