*{
  box-sizing: border-box;
}

.link{
  text-decoration: none;
  color: currentColor;
  &:hover{
    color: currentColor;
    text-decoration: none;
  }
  &:focus{
    color: currentColor;
    text-decoration: none;
  }
}

header{
  color: $orange;
  h1{
    font-size: 5em;
    margin-bottom: .5em;
  }
  a{
    @extend .link;
  }
  nav{
    border-top: $darkbluegrey solid 1px;
    ul{
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 1.5em;
      li{
        list-style: none;
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: bold;
        a{
          @extend .link;
          &:hover{
            color: $red;
          }
        }
      }
    }
  }
}
