@import "colors";
@import "fonts";
@import "mixins";
@import "header";
@import "fridge";
@import "advanced-search";

.home .jumbotron{
  // background-image: url(../images/A535FDBB21.jpg);
  background-image: url(../images/peppers.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  // min-height: 35em;
  min-height: 80vh;
  // min-height: 26em;
  h2{
    margin-top: 1.5em;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
  }
}

.forms{
  form{
    .text-input{
      padding: 10px;
      font-size: 1.5em;
      width: 100%;
      background-color: rgba(238, 238, 238, .85);
      margin-bottom: .5em;
      color: $darkbluegrey;
    }
  }
  p{
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}

.recipe, .fridge, .results, .saved{
  margin-bottom: 3vw;
}

.recipe{
  .label{
    background-color: $green;
  }
  .btn{
    @include button(white, $green);
  }
  .orange{
    background-color: $orange;
  }
  .red{
    background-color: $red;
    &:hover{
      font-weight: bold;
      color:black;
    }
  }
  li{
    font-size: 1.2em;
  }
  h4{
    font-size: 1.5em;
    text-decoration: underline;
  }
  .notes{
    font-size: 1.25em;
    margin-top: 1em;
    h3{
      margin-top: 0;
    }
  }
}

.modal{
  background-color: white;
  margin-top: 5vw;
  height: 65%;
  .modal-header{
    width: 100%;
  }
  .current{
    font-weight: bold;
    font-size: 3rem;
  }
  .cooking-mode{
    font-size: 2em;
    b{
      font-weight: bold;
      text-decoration: underline;
    }
  }
}


.saved{
  .btn{
    @include button(white, $green);
  }
  p{
    font-size: 1.25em;
    margin-bottom: 1em;
  }
  .text-input{
    padding: 5px;
    font-size: 1em;
    width: 100%;
    margin-bottom: .5em;
    color: $darkbluegrey;
  }
}
