@import "colors";
@import "fonts";
@import "mixins";

*{
  box-sizing: border-box;
}

header{
  color: $orange;
  h1{
    font-size: 5em;
    margin-bottom: .5em;
  }
  a{
    text-decoration: none;
    color: currentColor;
    &:hover{
      color: currentColor;
      text-decoration: none;
    }
  }
  nav{
    border-top: grey solid 1px;
    ul{
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 1.5em;
      li{
        list-style: none;
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: bold;
        a{
          text-decoration: none;
          color: currentColor;
          &:hover{
            color: $red;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.home .jumbotron{
  background-image: url(../images/bell-pepper-569070_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  min-height: 27em;
  h2{
    margin-top: 2em;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
  }
}

.forms{
  form{
    .text-input{
      padding: 10px;
      font-size: 1.5em;
      width: 100%;
      background-color: rgba(238, 238, 238, .8);
      margin-bottom: .5em;
      color: $darkbluegrey;
    }
  }
  p{
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.25em;
    margin-bottom: 1em;
  }
}
.advanced-search{
  padding: .5rem;
  text-shadow: none;
  border-radius: 5px;
  .checkboxes{
    background-color: rgba(238, 238, 238, .8);
    width: 100%;
    fieldset{
      color: $darkbluegrey;
      padding: 0 0 0 .5em;
      border: none;
      border-radius: 5px;
      ul{
        list-style: none;
        padding-left: 0;
        font-size: .75em;
      }
      legend{
        font-size:1em;
        margin:0;
      }
    }
  }
  .checkbox{
    padding: 2px;
    text-shadow: none;
    font-size: .5em;
  }
}
