<section class="recipe container">
  <h2>{{recipe.title}}</h2>
  <div class="row">
    <article class="col-md-7">
      <p>Source:
        <a ng-href={{recipe.sourceUrl}} target="_blank">{{recipe.sourceName}}</a>
      </p>
      <p>Serves: {{recipe.servings}}</p>
      <p>Ready in {{recipe.readyInMinutes}} minutes</p>
      <ul>Ingredients:
        <li ng-model="ingredient" ng-repeat="ingredient in recipe.extendedIngredients" >
          {{ingredient.originalString}}
        </li>
      </ul>
      <ol ng-show="areInstructions">Instructions
        <li ng-repeat="instruction in instructions"
          ng-click="speech(instruction.step)">{{instruction.step}}
          <!-- <br> -->
          <!-- <audio controls><source ng-src="http://localhost:3000/speech/hello%20lucy" type="audio/ogg"></audio> -->
          <div audios code="instruction.step"></div>
        </li>
      </ol>
    </article>
    <img ng-src="{{recipe.image}}" class="col-md-3">
  </div>
</section>
