<section class="recipe container">
  <h2>{{recipe.title}}</h2>
  <div class="row">
    <article class="col-md-8">
      <p>Source:
        <a ng-href={{recipe.sourceUrl}} target="_blank">{{recipe.sourceName}}
          <span ng-hide="sourceExists">{{recipe.sourceUrl}}</span>
        </a>
      </p>
      <p>Serves: {{recipe.servings}}</p>
      <p>Ready in {{recipe.readyInMinutes}} minutes</p>
      <h4>Ingredients:</h4>
      <ul>
        <li ng-model="ingredient" ng-repeat="ingredient in recipe.extendedIngredients" >
          {{ingredient.originalString}}
        </li>
      </ul>
      <h4>Instructions:</h4>
      <ol ng-show="areInstructions">
        <li ng-repeat="instruction in instructions">{{instruction.step}}
        </li>
      </ol>
    </article>
    <div class="col-md-4">
      <img ng-src="{{recipe.image}}" class="col-md-12">
      <button ng-show="areInstructions" class="btn btn-lg col-md-12" ng-click="open()">Cooking Mode</button>
    </div>
  </div>

  <!-- MODAL -->
  <div class="row">
    <div class="modal col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" modal="showModal" close="cancel()">
      <div class="modal-header">
        <h4>{{recipe.title}}</h4>
      </div>
      <div class="modal-body row ">
        <div ng-repeat="instruction in instructions">
          <p ng-if="stepFocus === $index" class="current">{{$index+1}}. {{instruction.step}}</p>
          <div ng-if="stepFocus === $index" audios code="instruction.step"></div>
        </div>
        <button class="btn btn-lg" ng-click="goBack()">Previous</button>
        <button class="btn btn-lg" ng-click="goForward()">Next</button>

      </div>
      <div class="modal-footer">
        <button class="btn btn-lg" ng-click="ok()">Okay</button>
      </div>
    </div>
    </div>

</section>
