<section class="about container">
  <h2>About CookBot</h2>
  <p>CookBot was my capstone project for the <a href="http://www.galvanize.com/courses/web-development/" target="_blank">Galvanize</a> Web Development Immersive program. It is a fully decoupled app with access to thousands of recipes. Features include multiple search options and "Cooking Mode", where recipe instructions are read aloud and audio commands are recognized allowing users to easily navigate recipes, hands-free, while cooking.</p>
  <p>There is also a Saved Recipe feature that allows users to save recipes they have found to a database. Users can also include notes on the saved recipes.</p>
  <p>Built using: IBM Watson Text-to-Speech API, AngularJS, Node.js, Express, PostgreSQL, Knex.js, Sass, Spoonacular API</p>
  <p>Check out the <a href="https://github.com/lfollansbee/CookBot_client_side" target="_blank">GitHub Repository</a></p>
</section>
